# Ignore any zip files (including nested)
**/*.zip

# Ignore node_modules folders anywhere
**/node_modules/

# Ignore build artifacts
**/dist/

# Common lockfiles
pnpm-lock.yaml
yarn.lock
package-lock.json
**/package-lock.json
# Ignore local lambdas packaged output
lambda.zip
.vscode/

.env

portfolio/

frontend/screenshots/
.bashrc
.gitlab-ci.yml
PROJECT_EVALUATION.md
**/*.zip
**/*.tgz
.vscode/