/* CTA Section */
.cta-section {
  padding: var(--space-3xl) var(--space-lg);
}

.cta-card {
  text-align: center;
  padding: var(--space-xl);
  border-radius: var(--radius-xl);
  background: var(--bg-card);
  border: 1px solid var(--border-color);
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 10px 20px 1px rgba(101, 18, 146, 0.55);
  max-height: 30vh !important;
}

.cta-card h3 {
  font-size: var(--text-3xl);
  margin-bottom: var(--space-md);
}

.cta-card p {
  font-size: var(--text-lg);
  color: var(--text-secondary);
  margin-bottom: var(--space-xl);
}

.cta-buttons {
  display: flex;
  gap: var(--space-md);
  justify-content: center;
  flex-wrap: wrap;
}

/* CTA card visuals */
.cta-card {
  justify-self: center;
}

@media (max-width: 900px) {
  .cta-card {
    padding: var(--space-md);
  }
  .cta-card h2 {
    font-size: var(--text-lg) !important;
  }

  .cta-card p {
    font-size: var(--text-base);
  }
  .cta-buttons {
    display: flex;
    flex-direction: row !important;
    gap: var(--space-md);
    justify-content: center;
  }
  .cta-buttons a {
    max-width: 25%;
    font-size: var(--text-sm);
    padding: var(--space-sm) !important;
  }
}
