.about-section-card {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

.section-card-header {
  margin-bottom: 1rem;
}

.section-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
  /* font-family: var(--font-mono); */
}

.section-description {
  color: var(--text-secondary);
}

@media (max-width: 64rem) {
  .section-description {
    font-size: 0.75rem !important;
  }
}
